{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "useBuiltIns": "usage"
  }], 
  "@babel/preset-react"
],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",  //开启模块热替换
      ]
    },
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}